<center>
<table class="table table-hover text-center">
    <thead class="thead-inverse">
        <tr>
            <th width="40%" class="text-center">Home</th>
            <th width="20%" class="text-center">vs</th>
            <th width="40%" class="text-center">Away</th>
        </tr>
    </thead>

    {% for match in data %}
        <tr>
            <td width="40%">{{match.home}}</td>
            <td width="20%">
                <a href="./{{ week_number }}/{{ match.home }}">
                {{match.home_score}} - {{match.away_score}}
                </a>
            </td>
            <td width="40%">{{match.away}}</td>
        </tr>
    {% endfor %}
</table>
</center>