<div class="container">
    <nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent">

            <span class="navbar-toggler-icon"></span>

        </button>

        <a class="navbar-brand" href="#">MnBStats</a>

        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tournaments">Tournaments</a>
                </li>
            </ul>
        </nav>
    </nav>
</div>