<table class="table table-hover table-condensed ">

    <thead class="thead-inverse">
        <tr>
            <th colspan="1000" class="text-center">
                {{ table.title }}
                <p><small>{{ table.description }}</small></p>
            </th>
        </tr>
        <tr>
            <th>#</th>

            {% for h in table.headers %}
            <th class="text-center">{{ h }}</th>
            {% endfor %}

        </tr>
    </thead>

    <tbody>
    {% for row in table.data %}
    <tr>

        <th scope="row">{{ loop.index0 + 1 }}</th>
        <td>{{ row.name|truncate(20) }}</td>

        {% for field in row.values() %}
        <td class="text-center">{{ field }}</td>
        {% endfor %}

    </tr>
    {% endfor %}
    </tbody>
</table>
