<div class="jumbotron text-center">
    <h1>{{ tour.tournament_full_name }}</h1>

    <div class="container">
        <div class="row">

            <div class="col">
                <h4>Matches</h4>
                <ul>
                    {% for week_number in range(1, num_of_weeks + 1) %}
                    <li class="list-group-item">
                        <a href="{{ url_for(
                            'weekly_stats',
                            tournament_name=tour.tournament_name,
                            week_number=week_number) }}"
                           class="text-gray-dark">
                            Week {{ week_number }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col">
                <h4>General Stats</h4>
                <ul>
                    <li class="list-group-item">
                        <a href="{{ url_for(
                            '.tournament',
                            tournament_name=tour.tournament_name) }}"
                           class="text-gray-dark">
                            Overview
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for(
                            '.tour_general_stats',
                            tournament_name=tour.tournament_name) }}"
                           class="text-gray-dark">
                            General Stats
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
