{% extends 'includes/_layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to MnBStats</h1>
        <p class="lead">Place where you can find statistics from Mount & Blade: Warband tournaments.</p>
    </div>
{% endblock %}