{% extends 'includes/_tour.html' %}

{% block dynamic_container %}

<div class="row">
    <div class="col">
    {% with table=match_report.stats_table.home %}
    {% include "includes/_table.html" %}
    {% endwith %}
    </div>
    <div class="col">
    {% with table=match_report.stats_table.away %}
    {% include "includes/_table.html" %}
    {% endwith %}
</div>
</div>

{% include "includes/_spacer.html" %}
<hr>
{% include "includes/_spacer.html" %}

<embed
    type="image/svg+xml"
    src={{ match_report.home_class_chart|safe }}
    style='max-width:49.8%;'
>
</embed>

<embed
    type="image/svg+xml"
    src={{ match_report.away_class_chart|safe }}
    style='max-width:49.8%;'
>
</embed>

{% include "includes/_spacer.html" %}
<hr>
{% include "includes/_spacer.html" %}

<embed
    type="image/svg+xml"
    src={{ match_report.home_death_order_chart|safe }}
    style='max-width:49%;'
>
</embed>

<embed
    type="image/svg+xml"
    src={{ match_report.away_death_order_chart|safe }}
    style='max-width:49%;'
>
</embed>


{% endblock %}