{% extends 'includes/_tour.html' %}

{% block dynamic_container %}

<div class="container" style="padding: 10px;">

    <hr>
    <h2 class="text-center">General Stats</h2>
    <hr>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
        <div class="col">
            {% with table=general_stats %}
            {% include "includes/_table.html" %}
            {% endwith %}
        </div>
    </div>

</div>

{% endblock %}