{% extends 'includes/_tour.html' %}

{% block dynamic_container %}
<div class="container" style="padding: 10px;">

    <hr>
    <h2 class="text-center">Week {{ week_number }}</h2>
    <hr>

    {% include "includes/_spacer.html" %}
    <h4 class="text-center">
        Star of the week:
    </h4>
    <h6 class="text-center">
        {{ stats.star.name }} -
        {{ stats.star.K }} kills and
        {{ stats.star.A }} assists!
    </h6>
    <hr>

    {% include "includes/_spacer.html" %}
    <h4 class="text-center">
        Matches:
    </h4>

    {% include "includes/_spacer.html" %}
    {% with data=stats.matches, week_number=week_number %}
    {% include "includes/_matches_table.html" %}
    {% endwith %}
    <hr>

    {% include "includes/_spacer.html" %}
    <h4 class="text-center">
        Weekly Stats:
    </h4>
    {% include "includes/_spacer.html" %}
    <div class="row">
        {% for hof in stats.hall_of_fame %}
            <div class="col">
            {% with table=hof %}
            {% include "includes/_table.html" %}
            {% endwith %}
            </div>
        {% endfor %}
    </div>
    <hr>
</div>

{% endblock %}
