{% extends 'includes/_tour.html' %}

{% block dynamic_container %}

<div class="container" style="padding: 10px;">

    <hr>
    <h2 class="text-center">Overview</h2>
    <hr>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
        <div class="col">
            <h4 class="text-center">General...</h4>

            {% with table=overview_data.general_stats %}
            {% include "includes/_table.html" %}
            {% endwith %}
        </div>
    </div>

    <h4 class="text-center">Hall of Fame...</h4>

    <div class="row">
        {% for table in overview_data.hall_of_fame %}
            <div class="col">
            {% with table=table %}
            {% include "includes/_table.html" %}
            {% endwith %}
            </div>
        {% endfor %}
    </div>

    <h4 class="text-center">Eccentrics' Corner...</h4>

    <div class="row">
        {% for table in overview_data.eccentrics_corner %}
            <div class="col">
            {% with table=table %}
            {% include "includes/_table.html" %}
            {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
