{% extends 'includes/_layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Tournaments</h1>
    <ul class="list-group">
    {% for tour in tournaments %}
        <li class="list-group-item">
        <a href="{{ tour.tournament_name }}/overview">
            {{ tour.tournament_full_name }} ({{tour.tournament_name}})
        </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
